




/* ------------- HEADER ------------- */
header {
    height:130px;
    background-image: url(../images/header1024.jpg);
    h1{padding-top: 50px;}
}


/* ------------- MAIN ------------- */
main {
    max-width: 100em;
    margin: 0 auto;
    
    article.multiCol {
        column-count: 2;
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-rule: 1px solid $secondaryColor; 
        -webkit-column-rule: 1px solid $secondaryColor;
        -moz-column-rule: 1px solid $secondaryColor;
        column-gap: $gutter;
        -webkit-column-gap: $gutter;
    }
}