/* a {
    color: red; 
    text-decoration: none;
}

h1 {
    font-family: sans-serif;
} */

body {
    font-family: Arial, Helvetica, sans-serif;
    width: 600px;
    background: rgb(235, 232, 232);
    margin: auto;
}

div {
    border-color: rgb(248, 242, 242);
    border-style: solid;
    text-align: center;
    padding: 15px;
    margin-bottom: 20px;
}

